/* variables */
:root {
--card: #895d4a;
--background: #b8a489;
--white: #fff;
--light-blue: #94b8b8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.menu-bar {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.menu-item {
    margin: 0;
    width: 150px;
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
}

.menu-item a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: var(--light-blue);
}
.calendar {
    width: 100%;
    margin: 20px auto;
    background-color: #fdfaf2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    min-height: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #d3c1a2;
    color: var(--white);
}

button {
    background-color: #d3c1a2;
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--background);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #e5d9c2;
    height: 120px;
}

th {
    background-color: #d3c1a2;
    color: var(--white);
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #f0ead7;
}

.comment-section {
    height: calc(100% - 40px);
    overflow: auto;
    border-top: 1px solid #e5d9c2;
    padding: 5px;
}

.comment {
    width: calc(100% - 12px);
    margin-bottom: 5px;
}

.comment-section select,
.comment-section input[type="file"] {
    width: calc(100% - 12px);
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #e5d9c2;
    border-radius: 4px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal button {
    background-color: #d3c1a2;
    color: var(--white);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: var(--background);
}

.emotion-image {
    max-width: 100%;
    max-height: 100px;
    cursor: pointer;
    margin: 5px;
}


.mood-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selected-images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: lightgray;
    padding: 40px;
}

.selected-emotion-image {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
}

/* PAGE MÉDITATION */

.banner-image img {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    opacity: 0.8;
}

.card-container {
    top: 200px;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: var(--card);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.card:hover .content {
	transform: translateY(-20px);
}

.image-container {
	width: 150px;
	height: 150px;
}

.image-container img {
	width: 100%;
	height: 100%;
}

.description-container h3 {
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.description-container h3 span {
	font-size: 14px;
	text-transform: initial;
}

.animated-items {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.animated-items li {
	list-style: none;
	transform: translateY(40px);
	transition: 0.6s;
	opacity: 0;
}

.card:hover .animated-items li {
	transform: translateY(15px);
	opacity: 1;
}

.meditation button {
    font-size: 20px;
}

/* SOUS-MENU DÉROULANT */ 
.deroulant {
    float: left;
    overflow: hidden;
}
.deroulant .btn-deroulant {
    font-size: 16px;
    color: var(--white);
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: color 0.5s, background-color 0.5s;
    width: 150px;
}

.deroulant:hover .btn-deroulant{
    background-color: var(--light-blue);
    border-radius: 0%;
}

.sous-menu a {
    float: none;
    color: var(--background);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.5s, background-color 0.5s;
    color: var(--white);
}
.sous-menu a:hover {
    background-color: var(--light-blue);
}

.sous-menu {
    display: none;
    background-color: var(--background);
    z-index: 1;
    position: absolute;
}
.deroulant:hover .sous-menu {
    display: block;
}