/* variables */
:root {
  --card: #895d4a;
  --background: #b8a489;
  --white: #fff;
  --darker-white: #fdfaf2;
  --light-blue: #94b8b8;
  --lighter-blue: rgb(160, 193, 196);
  --shadow: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.3);
  --shadow-3: rgba(0, 0, 0, 0.5);
  --light-background: #d3c1a2;
  --lighter-background: #e5d9c2;
  --input-field: rgb(248, 234, 217);
  --light-beige: #f0ead7;
  --blue: #007bff;
  --dark-grey: #333;
  --light-grey: #555;
  --dark-dusty-pink: rgb(176, 123, 131);
  }

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.menu-bar {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 40px;
}

.menu-item {
  margin: 0;
  width: 150px;
  text-align: center;
  transition: color 0.5s, background-color 0.5s;
}

.menu-item a {
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: var(--light-blue);
}
.calendar {
  width: 100%;
  margin: 20px auto;
  background-color: var(--darker-white);
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 8px;
  overflow: hidden;
  min-height: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-background);
  color: var(--white);
  min-height: 100px;
}

button {
  background-color: var(--light-background);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--background);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--lighter-background);
}

th {
  background-color: var(--light-background);
  color: var(--white);
}

thead > tr {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

td {
  cursor: pointer;
}

td:hover {
  background-color: var(--light-beige);
}

.comment-section {
  height: calc(100% - 40px);
  overflow: auto;
  border-top: 1px solid var(--lighter-background);
  padding: 5px;
}

.comment {
  width: calc(100% - 12px);
  margin-bottom: 5px;
}

.comment-section select,
.comment-section input[type="file"] {
  width: calc(100% - 12px);
  margin-top: 5px;
  padding: 5px;
  border: 1px solid var(--lighter-background);
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal button {
  background-color: var(--light-background);
  color: var(--white);
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--background);
}

.emotion-image {
  max-width: 100%;
  max-height: 100px;
  cursor: pointer;
  margin: 5px;
}

.mood-section {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.selected-images-container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 60%;
}

.selected-emotion-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.ressources {
  width: 100%;
  margin: 20px auto;
  background-color: var(--light-background);
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 8px;
  overflow-y: auto;
  min-height: 800px;
  text-align: center;
}

.pdv-item {
  background-color: var(--light-background);
  border: 3px solid var(--background);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.pdv-item h1 {
  font-size: 1em;
  color: var(--dark-grey);
}

.pdv-item p {
  margin: 0 0 10px;
  color: var(--light-grey);
}

.pdv-item a {
  color: var(--blue);
  text-decoration: none;
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100vw;
}

/* Page Méditation */
.banner-image img {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  opacity: 0.8;
}

.card-container {
  top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
position: relative;
width: 300px;
height: 400px;
margin: 20px;
box-shadow: 0 15px 30px var(--shadow-3);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
  background-color: var(--card);
}

.content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: 0.5s;
}

.card:hover .content {
transform: translateY(-20px);
}

.image-container {
width: 150px;
height: 150px;
}

.image-container img {
width: 100%;
height: 100%;
}

.description-container h3 {
color: var(--white);
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500;
font-size: 20px;
text-align: center;
margin: 20px 0 10px;
line-height: 1.1em;
}

.description-container h3 span {
font-size: 14px;
text-transform: initial;
}

.animated-items {
position: absolute;
bottom: 50px;
display: flex;
}

.animated-items li {
list-style: none;
transform: translateY(40px);
transition: 0.6s;
opacity: 0;
}

.card:hover .animated-items li {
transform: translateY(15px);
opacity: 1;
}

.meditation button {
  font-size: 20px;
}

/* Sous-Menu Déroulant */
.deroulant {
  float: left;
  overflow: hidden;
}
.deroulant .btn-deroulant {
  font-size: 16px;
  color: var(--white);
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: color 0.5s, background-color 0.5s;
  width: 150px;
}

.deroulant:hover .btn-deroulant{
  background-color: var(--light-blue);
  border-radius: 0%;
}

.sous-menu a {
  float: none;
  color: var(--background);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: color 0.5s, background-color 0.5s;
  color: var(--white);
}
.sous-menu a:hover {
  background-color: var(--light-blue);
}

.sous-menu {
  display: none;
  background-color: var(--background);
  z-index: 1;
  position: absolute;
}
.deroulant:hover .sous-menu {
  display: block;
}

/* Page Astuces */
.astuces-wrapper {
  max-width: 600px;
  position: relative;
  margin-bottom: 20px;
  top: 200px;
}

.astuces-wrapper ol {
  list-style: none;
}

.astuces-wrapper li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background: var(--dark-dusty-pink);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 15px 30px var(--shadow);
  counter-increment: list-item;
  margin: 20px;
  color: var(--white);
}

.astuces-wrapper li::before {
  content: counter(list-item);
  font-size: 30px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  background: var(--white);
  flex: 0 0 auto;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astuces-wrapper li {
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  transition: all 500ms;
}

.astuces-wrapper h3 {
  font-size: 25px;
  color: var(--white);
}

.astuces-wrapper p {
  gap: 1.2rem;
  text-align: center;
}

.astuces-wrapper li:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px var(--shadow-2);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* Page Auth */

.form-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
  margin: 20px;
}

#container-auth_form {
  text-align: center;
  background-color: var(--card);
  border-radius: 15px;
  box-shadow: 0 15px 30px var(--shadow-3);
  padding: 30px;
  width: 400px;
  color: var(--white);
}

.form-title {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--white);
  text-align: left;
  margin-left: 20px;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#username, #password {
  background-color: var(--input-field);
  border: 1px solid var(--input-field);
  border-radius: 5px;
}

.bouton-soumission {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.bouton-soumission:hover {
  background-color: var(--lighter-blue);
}

.form-switch-container {
  margin-top: 20px;
}

.form-switch {
  color: var(--light-blue);
  cursor: pointer;
}

.form-switch:hover {
  text-decoration: underline;
}

/* Page Séance */
.anim-circle-1::before,
.anim-circle-2::before,
.anim-circle-3::before {
  content: var(--circle-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  transition: opacity 0.5s;
}

@keyframes breathe {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  0% {
    --circle-text: 'inspire'
  }
  100% {
    --circle-text: 'expire'
  }
}

.anim-circle-1,
.anim-circle-2,
.anim-circle-3 {
  position: absolute;
  border-radius: 50%;
  animation: breathe 8s infinite ease-in-out;
}

.anim-circle-1 {
  color: transparent;
  transform: translate(-50%, -50%) scale(1);
  width: 200px;
  height: 200px;
  background: rgba(188, 237, 243, 0.889);
}

.anim-circle-2 {
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: rgba(188, 237, 243, 0.889);
}

.anim-circle-3 {
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: var(--white);
  opacity: 0.3;
}

.seance-container {
  top: 400px;
  position: relative;
}

