<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sante Mentale</title>
</head>
<body>
    <audio autoplay="autoplay" controls preload="auto" style="display: none;"><source src="../static/meditation/meditation.mp3"/></audio>
    <div class="menu-bar">
        <div class="menu-item"><a href="/">Accueil</a></div>
		<div class="deroulant">
			<a href="meditation.html"><button class="btn-deroulant">Méditation</button></a>            
			<div class="sous-menu">
			<a href="/game">Jeu interactif</a>
			<a href="seance.html">Séance méditation</a>
			<a href="#">Trucs et astuces</a>
			</div>
		</div>
        <div class="menu-item"><a href="journalisation.html">Journalisation</a></div>
    </div>
    <div class="banner-image">
        <img src="../static/meditation/mountains.jpg" alt="desert" />
    </div>
    <div class="astuces-wrapper">
        <ol role="list">
            <li><h3>Choisissez un endroit calme</h3><p>Trouvez un endroit tranquille où vous ne serez pas dérangé. Cela peut être un coin de votre maison, un parc paisible, ou même une pièce dédiée à la méditation.</p></li>
            <li><h3>Adoptez une posture confortable</h3><p>Asseyez-vous ou allongez-vous de manière confortable. Vous n'avez pas besoin d'adopter une posture spécifique, l'essentiel est de vous sentir à l'aise.</p></li>
            <li><h3>Concentrez-vous sur la respiration</h3><p>La respiration est souvent utilisée comme point focal en méditation. Portez votre attention sur votre souffle, observez-le sans chercher à le contrôler. Cela aide à calmer l'esprit.</p></li>
            <li><h3>Soyez régulier</h3><p>Établissez une routine de méditation en choisissant un moment précis chaque jour. La constance vous aidera à développer une habitude et à en tirer plus de bénéfices au fil du temps.</p></li>
            <li><h3>Commencez par de courtes sessions</h3><p>Si vous débutez, commencez par des sessions courtes, puis augmentez progressivement la durée au fur et à mesure que vous vous sentez plus à l'aise.</p></li>
            <li><h3>Acceptez les pensées qui surviennent</h3><p>Ne luttez pas contre vos pensées. Si votre esprit divague, ramenez doucement votre attention sur votre point focal, qu'il s'agisse de la respiration ou d'un mantra.</p></li>
            <li><h3>Pratiquez la gratitude</h3><p>Intégrez la gratitude dans votre méditation en prenant quelques instants pour réfléchir à ce pour quoi vous êtes reconnaissant. Cela peut contribuer à cultiver des émotions positives.</p></li>
            <li><h3>Soyez patient</h3><p>La méditation est une pratique. Soyez patient avec vous-même et ne vous attendez pas à des résultats immédiats. Les bienfaits se manifestent souvent progressivement avec la pratique régulière.</p></li>
        </ol>
    </div>
</body>
</html>