<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
</head>
<body>
    <section id='container-auth_form'>
        <h1 class='form-title'>Connexion</h1>
        <form action='/login'>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="envoyer">
        </form>

        <div class='form-switch-container'>
            <span>Vous n'avez pas encore de compte ?</span>
            <span class='form-switch'>Inscription</span>
        </div>
    </section>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
