<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
</head>
<body>
    <ul>
        {{ for emotion in emotions }}
        <li class="emotion">
            <p>
                {{ emotion.id }}
                {{ emotion.name }}
                {{ emotion.date }}
            </p>
        </li>
        {{ endfor }}
    </ul>
    
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
