<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Sante Mentale</title>
</head>
<body>
	<audio autoplay="autoplay" controls preload="auto" style="display: none;"><source src="{{ url_for('static', filename='meditation/meditation.mp3') }}"/></audio>
    <div class="menu-bar">
        <div class="menu-item"><a href="/">Accueil</a></div>
		<div class="deroulant">
			<a href="/meditation"><button class="btn-deroulant">Méditation</button></a>            
			<div class="sous-menu">
			<a href="/game">Jeu interactif</a>
			<a href="#">Séance méditation</a>
			<a href="/astuces">Trucs et astuces</a>
			</div>
		</div>
        <div class="menu-item"><a href="/emotions">Journalisation</a></div>
    </div>
    <div class="banner-image">
        <img src="{{ url_for('static', filename='meditation/mountains-green.jpg') }}" alt="montagnes vertes">
    </div>
    <div class="seance-container">
        <div class="anim-circle-1"></div>
        <div class="anim-circle-2"></div>
        <div class="anim-circle-3"></div>
    </div>
</body>
</html>